/backend/parser/__pycache__
/backend/venv
/backend/test.pcapng
/backend/.env

/frontend/pretty-pcap/node_modules
/frontend/pretty-pcap/package-lock.json
/frontend/pretty-pcap/dist
/frontend/pretty-pcap/build