/backend/parser/__pycache__
/backend/venv
/backend/build
/backend/dist
/backend/pretty-pcap-backend.spec
/backend/test.pcapng
/backend/.env

/frontend/pretty-pcap/node_modules
/frontend/pretty-pcap/package-lock.json
/frontend/pretty-pcap/dist
/frontend/pretty-pcap/build
/frontend/pretty-pcap/release
/frontend/test_notes.txt